@use "../../../../../styles/tokens/paddings" as paddings;
@use "../../../../../styles/tokens/colors" as colors;

.form {
  background-color: colors.$color--white-100;
  padding: 1rem 0 1rem 0;

  & > div {
    display: flex;

    .input {
      padding: paddings.$padding-input;
      width: 100%;
    }
  }
}
