@use "../styles/tokens/colors" as colors;
@use "../styles/tokens/borderRadii" as borderRadii;
@use "../styles/tokens/contextual/backgroundColors" as backgroundColors;

.cta {
  color: colors.$color--white-100;
  background-color: backgroundColors.$bc--login-button;
  border-radius: borderRadii.$br--1;
  padding: 0.5em 1.5em;
  cursor: pointer;

  &:hover {
    opacity: 0.95;
  }
}
