@use "../../styles/tokens/colors" as colors;

.nav {
  border-bottom: 1px solid colors.$color--grey-100;

  ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 1.5em 0;

    li {
      margin: 0 1em;
    }
  }
}
