@use "../../../../styles/tokens/colors" as colors;
@use "../../../../styles/tokens/heights" as heights;

.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 30rem;
  border-right: 1px solid colors.$color--grey-100;

  .list {
    list-style-type: none;
    overflow-y: auto;
    flex: 1 1 0;
  }

  & > header,
  & > form {
    padding: 0 2rem 0 2rem;
  }

  & > ol {
    padding-left: 2rem; // keep the scrollbar flush with border
  }
}
